# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ezesb.DESKTOP-0SL3DDT\Documents\GitHub\activity2-JTJAR\activity2-JTJAR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
