.divLPTitle {
    text-align: center;
}
.imgLP {
    text-align: center;
}
.landingPageBody {
    margin-left: 20vw;
    margin-right: 20vw;
    text-indent: 5vw;
}
.divAMTitle {
    text-align: center;
}
.aboutMeBody {
    margin-left: 20vw;
    margin-right: 20vw;
}
.divTable {
    text-align: left;
}
.divLinks {
    text-align: center;
}
