body {
    background-color: slategrey;
}
.divLPTitle {
    text-align: center;
}
.imgLP {
    text-align: center;
}
.landingPageBody {
    margin-left: 20vw;
    margin-right: 20vw;
    text-indent: 5vw;
}
.divAMTitle {
    text-align: center;
}
.aboutMeBody {
    margin-left: 20vw;
    margin-right: 20vw;
}
.divTable {
    text-align: left;
    border: 1px solid greenyellow;
    padding: 3px;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
.divLinks {
    text-align: center;
}
